.footer {
  padding: 0.5rem 1rem;
  text-align: center;
  border-top: 1px solid var(--widget-border-color);
  background-color: var(--widget-header-bg);
  border-bottom-left-radius: var(--widget-border-radius);
  border-bottom-right-radius: var(--widget-border-radius);
}

.text {
  font-size: 11px;
  color: var(--widget-text-secondary);
}
